/**
 * icon-font
 * setup
 */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-l2nx7w');
    src:url('../fonts/icomoon.eot?#iefix-l2nx7w') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-l2nx7w') format('woff'),
    url('../fonts/icomoon.ttf?-l2nx7w') format('truetype'),
    url('../fonts/icomoon.svg?-l2nx7w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu2:before {
    content: "\e77b";
}


/**
 * navigation
 */
nav {
    border-bottom: 1px solid #000;
    color: #000;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

nav a {
    color: #000;
}

nav input[type="checkbox"],
nav input[type="radio"] {
    display: none;
}

nav .home,
nav label {
    border-bottom: 0;
    display: block;
    margin: 0;
    padding: 2px 5px 10px;
}

nav label:before {
    float: right;
    font-size: 24px;
}

nav .home {
    border: 0;
    line-height: 1.5;
}

nav ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .closeSubMenu {
    background: transparent;
    display: none;
    height: 18px;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
}

nav #showMenu:checked + ul,
nav .showSubMenu:checked + ul,
nav .showSubMenu:checked ~ .closeSubMenu {
    display: block;
}

nav ul ul {
    padding: 0 10px 10px 20px;
}

nav li {
    border-top: 1px dotted;
}

nav li li {
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav li li a {
    line-height: 1.5;
}

nav .current {
    color: #aaa;
    line-height: 1.5;
    text-decoration: underline;
}

nav .parent {
    position: relative;
}

nav .parent label {
    border: 0;
}

@media only screen and (min-width: 1024px) {

    nav {
        border: 0;
        text-align: right;
    }

    nav .current {
        line-height: 1;
    }

    nav label,
    nav .closeSubMenu,
    nav .showSubMenu:checked ~ .closeSubMenu {
        display: none;
    }

    nav ul ul {
        display: none;
    }

    nav ul {
        display: inline-block;
        *zoom: 1;
        *display: inline;
    }

    nav ul label,
    nav ul li,
    nav ul .home {
        border-top: 0;
        border-left: 1px solid #000;
        display: inline-block;
        position: relative;
        padding: 0 5px;
        text-transform: none;
        z-index: 11;
        *zoom: 1;
        *display: inline;
    }

    nav ul label:before,
    nav ul li:before,
    nav ul .home:before {
        display: none;
    }

    nav ul label a,
    nav ul li a,
    nav ul .home a {
        color: #000;
        text-decoration: none;
    }

    nav ul label a:hover,
    nav ul li a:hover,
    nav ul .home a:hover,
    nav ul label a:active,
    nav ul li a:active,
    nav ul .home a:active,
    nav ul label a:focus,
    nav ul li a:focus,
    nav ul .home a:focus {
        text-decoration: underline;
    }

    nav ul .home {
        border-left: 0;
    }

    nav ul li:last-of-type {
        padding-right: 0;
    }

    nav li ul {
        background: #fff;
        border: 1px solid #000;
        padding: 10px 20px;
        position: absolute;
        top: 29px;
        right: 0;
        z-index: 10;
    }

    nav li ul:after {
        content: '';
        display: block;
        height: 50px;
        position: absolute;
        top: -18px;
        right: 3px;
        -ms-transform: rotate(-18deg);
        -webkit-transform: rotate(-18deg);
        -o-transform: rotate(-18deg);
        -moz-transform: rotate(-18deg);
        transform: rotate(-18deg);
        width: 100%;
        z-index: -1;
    }

    nav li ul a {
        color: #000;
    }

    nav li li {
        border: 0;
        display: block;
        margin: 0;
        padding: 0;
        text-align: left;
        white-space: nowrap;
    }

    nav li.parent:hover a:before,
    nav li.parent:hover .current:before,
    nav li.parent:hover a:after,
    nav li.parent:hover .current:after {
        border: 10px solid transparent;
        border-bottom-color: #000;
        content: '';
        display: block;
        margin-left: -10px;
        position: absolute;
        bottom: -12px;
        left: 50%;
        width: 0;
    }

    /* adjustment for firefox */
    @-moz-document url-prefix() {

        nav li.parent:hover a:before,
        nav li.parent:hover .current:before,
        nav li.parent:hover a:after,
        nav li.parent:hover .current:after {
             bottom: -11px;
        }
    }

    nav li.parent:hover a:after,
    nav li.parent:hover .current:after {
        border-bottom-color: #fff;
        border-width: 9px;
        margin-left: -9px;
    }

    nav li.parent:hover li a:before,
    nav li.parent:hover li .current:before,
    nav li.parent:hover li a:after,
    nav li.parent:hover li.current:after {
        display: none;
    }

    nav li.parent:hover ul {
        display: block;
        color: #aaa;
    }

}